<div class="d-flex flex-column flex-shrink-0 bg-light h-100" style="width: 4.5rem;">
  <a href="/" class="d-block p-3 link-dark text-decoration-none d-flex justify-content-center align-items-center" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
    <img alt="Firebase Logo" srcset="https://img.icons8.com/color/512/firebase.png" width="32" class="bi">
    <span class="visually-hidden">Icon-only</span>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li>
      <a href="/" class="nav-link <% if(page=='main'){ %>active<% } %> py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
        <i class="fa-solid fa-gauge"></i>
      </a>
    </li>
    <li>
      <a href="/datas" class="nav-link <% if(page=='datas'){ %>active<% } %> py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
        <i class="fa-solid fa-table"></i>  
      </a>
    </li>
    <li>
      <a href="/add" class="nav-link <% if(page=='add'){ %>active<% } %> py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
        <i class="fa-solid fa-plus"></i>  
      </a>
    </li>
    <!-- <li>
      <a href="/routes" class="nav-link <% if(page=='routes'){ %>active<% } %> py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
        <i class="fa-solid fa-code"></i>  
      </a>
    </li> -->
  </ul>
  <!-- <div class="dropdown border-top">
    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
      <svg viewBox="-1.5 -1.5 8 8" xmlns="http://www.w3.org/2000/svg" fill="hsl(220 50% 50%)"><rect x="0" y="1" width="1" height="1"></rect><rect x="1" y="0" width="1" height="1"></rect><rect x="1" y="2" width="1" height="1"></rect><rect x="1" y="3" width="1" height="1"></rect><rect x="2" y="1" width="1" height="1"></rect><rect x="2" y="2" width="1" height="1"></rect><rect x="2" y="3" width="1" height="1"></rect><rect x="2" y="4" width="1" height="1"></rect><rect x="4" y="1" width="1" height="1"></rect><rect x="3" y="0" width="1" height="1"></rect><rect x="3" y="2" width="1" height="1"></rect><rect x="3" y="3" width="1" height="1"></rect></svg>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div> -->
</div>